
{% extends "General/layout.html" %} 

{% block content %}
<!-- Register Section -->
<div
    class="container-lg my-5 p-5 "
    style="background-color: rgb(172, 0, 0); border-radius: 10px; width: 600px;"
>
    <h2 class="mb-4 text-center text-light">Attendance</h2>
    <form action="{% url 'HR_form' %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="assigned_by" value="{{user.pk}}">

        
        <div class="form-floating mb-3">
            
            <input type="text" name="task" class="form-control" placeholder="Assigned Task" required id="id_task">
            <label for="id_task">Assigned Task </label>
        </div>

        <div class="form-floating mb-3">
            
            <textarea type="text" name="description" class="form-control" placeholder="Description" required id="id_description"></textarea>
            <label for="id_description">Description </label>
        </div>


        <div class="form-check mb-3 text-light">
            <label class="form-check-label" for="id_Attendance">
                Attendence
            </label>
            <input class="form-check-input" type="checkbox" value="1" id="id_Attendance" name="attendance">
            
        </div>
        <div class="text-center text-light">
            <input type="submit" class="btn btn-primary btn-block mb-4" value="Submit">
        </div> 

        <div class="text-center text-light">
            {{message}}
        </div>
        
    </form>
    
</div>
{% endblock %}