{% extends "General/layout.html" %} 
{% load static%}
{% block content %}

<div class="container text-center my-5">
    <img  src="{% static 'icons/logo.jpg' %}" alt="" width="400px">
    
    <div class="container text-center fw-bold w-75">
        <h2>About us</h2>
        This is our goal @ ASCC: Spreading Joy, making our Community better one step at a time and through that --> Developing ourselves along the way, Learning from other people, Seeing things you have never dreamed of seeing and feeling a sense of accomplishment when you know that you have made a difference in someone's life.    </div>
</div>
{% endblock %}
