{% extends "General/layout.html" %} 
{% load static%}
{% block content %}

<div class="container text-center my-5">
    <img  src="{% static 'icons/logo.jpg' %}" alt="" width="400px">
    
    <div class="container text-start fw-bold w-75">
        <h2>About us</h2>
        "ASCC" word is an abbreviation of --> Awareness | Services | Charity | Club
We at ASCC for Help have always maintained that our purpose in life is not just about living for yourself, it's about living for others and it is when you help those in need that you come into contact with their very core .. with who they really are .. And in doing so you get the Greatest joy you could ever feel, one that is true and rare to find.
This is our goal @ ASCC: Spreading Joy, making our Community better one step at a time and through that --> Developing ourselves along the way, Learning from other people, Seeing things you have never dreamed of seeing and feeling a sense of accomplishment when you know that you have made a difference in someone's life.
<br>
--> Type of our events:
    <ul>
        <li>Blood Donation</li>
        <li>Clothes and Food Donations</li>
        <li>Orphanages visits</li>
        <li>Hospital in need events</li>
        <li>Awareness campaigns</li>
        <li>Awareness Competitions</li>
        <li>Orphan's Day</li>
        <li>Ramadan Bags</li>
        <li>Prepare weddings for orphan brides</li>
        <li>Building Roofs</li>

    </ul>
 </div>
</div>
{% endblock %}
