{% extends "General/layout.html" %} 

{% block content %}
<!-- Adding member Section -->
<div
    class="container-lg my-5 p-5 "
    style="background-color: rgb(172, 0, 0); border-radius: 10px; width: 600px;"
>
    <h2 class="mb-4 text-center text-light">Add member</h2>
    <form action="{% url 'add'%}" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="firstName" placeholder="First name" name="firstName" required>
            <label for="firstName">First name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="lastName" placeholder="Last name" name="lastName" required>
            <label for="lastName">Last name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
            <label for="username">Username</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required>
            <label for="email">Email address</label>
        </div>
        
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
            <label for="password">Password</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="repeatPassword" placeholder="Repeat Password" name="confirmation" required>
            <label for="repeatPassword">Repeat Password</label>
        </div>
        <div class="fw-bold">
            <select class="form-select mt-3" name="committeeId" required>
                <option value="" selected>Select Committee</option>
                {% for committee in committees%}
                    <option value="{{ committee.id }}"> {{ committee.name}}</option>
                {% endfor %}    
            </select>

            <select class="form-select mt-3" name="roleId" required>
                <option value="" selected>Select Role</option>
                {% for role in roles%}
                    <option value="{{ role.id }}"> {{ role.name}}</option>
                {% endfor %}    
            </select>
        </div>
        
        
        <div class="text-center text-light mt-3">
            <input type="submit" class="btn btn-primary btn-block mb-4" value="Add Member">
        </div>
        
    </form>
</div>
{% endblock %}