{% extends "General/layout.html" %} 
{% load static%}
{% block content %}

    <div
	class="container h-auto my-5 p-3 text-light text-center"
	style="background-color: rgb(172, 0, 0); border-radius: 20px;"
>
	<h1>Committees</h1>
    {% for committee in committees%}
      {% if forloop.counter0|divisibleby:2 %}
        <div class="row justify-content-around m-1 h-auto" >
          <a href="show_committee/{{committee.id}}" class="col-lg-5 border mt-2 p-4 text-light" style="text-decoration: none; color: black;">
            <div >
              <h2>{{committee.name}}</h2>
              <img class="w-100" src="{% static 'pictures/committee.jpg' %}" alt="">
            </div>
          </a>
      {%else%}
          <a href="show_committee/{{committee.id}}" class="col-lg-5 border mt-2 p-4 text-light" style="text-decoration: none; color: black;">
            <div >
              <h2>{{committee.name}}</h2>
              <img class="w-100" src="{% static 'pictures/committee.jpg' %}" alt="">
            </div>
          </a>
        
        </div>
      {% endif %}
    {% endfor%}
	
</div>
        
</body>

{% endblock %}
