{% extends "Committee/layout.html" %}



{% block body %}
<head>
    <title>
        Service Committee
    </title>
</head>
<body>  
    <img src="https://www.tutorialspoint.com/html/images/test.png" alt="TimeToDonate">
    
    <p>
        Service Commitee is responsible for getting materials for poor areas, slums like building a ceiling, getting beds, blankets and other home essential needs. 
    </p>
    <p> So, in our web application they will be able to store the things they bought with their money spent, moreover they can upload receipts on the site for confirmation.</p>
    <p> So by this way, the head of this team can review their work</p>

   
</body>

{% endblock %}