{% extends "General/layout.html" %}
{% block content %}


<h1 class="my-5 text-center">Tracker</h1>

<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Role</th>
      <th scope="col">Committee</th>
      <th scope="col">Task</th>
      <th scope="col">Description</th>
      <th scope="col">Attendance</th>
    </tr>
  </thead>
  <tbody>
    {% for tracker in trackers%}
      <tr>
        <th scope="row">{{tracker.user.id}}</th>
        <td>{{tracker.user.first_name}}</td>
        <td>{{tracker.user.last_name}}</td>
        <td>{{tracker.user.roleId.name}}</td>
        <td>{{tracker.user.committeeId.name}}</td>
        <td>{{tracker.task}}</td>
        <td>{{tracker.description}}</td>
        {% if tracker.attendance %}
          <td class="text_center"><i class="fas fa-check"></i></td>
        {% else %} 
        <td><i class="fas fa-times" width="20px"></i></td>
        {% endif %}
        

      </tr>
    {% endfor %}
    
  </tbody>
</table>

{% endblock %}