{% extends "General/layout.html" %} 

{% block content %}
<!-- Update Member Section -->
<div
    class="container-lg my-5 p-5 "
    style="background-color: rgb(172, 0, 0); border-radius: 10px; width: 600px;"
>
    <h2 class="mb-4 text-center">Update Member</h2>
    <form action="{% url 'update' id=member.id%}" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="firstName" placeholder="First name" name="firstName" value="{{ member.first_name}}" required >
            <label for="firstName">First name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="lastName" placeholder="Last name" name="lastName" value="{{ member.last_name}}" required>
            <label for="lastName">Last name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" placeholder="Username" name="username" value="{{ member.username}}" required>
            <label for="username">Username</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" value="{{ member.email}}" required>
            <label for="email">Email address</label>
        </div>
        
        <div class="text-center text-light">
            <input type="submit" class="btn btn-primary btn-block mb-4" value="Update Member">
        </div>
        
    </form>
</div>
{% endblock %}