
{% block content %}
    <h1>Login</h1>
 <body>    

    <form>  
        <div class="container">   
            <ul><label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required></ul>  
            <ul><label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required> </ul> 
            <ul><button type="submit">Login</button></ul> 
            <input type="checkbox" > Remember me   
            <button type="button" class="cancelbtn"> Cancel</button>
            <ul>Forgot <a href="#"> password? </a></ul>
            <ul><a href="{% url 'register' %}"button type="submit">Sign up</button></ul>    
        </div>   
    </form>     
</body>   
{% endblock %}