
{% extends "Committee/layout.html" %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> 
<style> 
body, form, span, select, input, textarea 
{ 
    font-family: 'Open Sans', sans-serif; font-size: 14px; }
 html { 
    margin: 0; padding: 0; width: 100%; } 
 form, body { 
    margin-left: auto; margin-right: auto; max-width: 1000px; }
     span { display: block; margin: 5px 0; overflow: auto; padding: 0 1%; width: 98%; 
     } </style>
    <h1>Registeration form</h1>
    <form action="{% url 'register' %}" method="post" novalidate>
        {% csrf_token %}
     {{form.as_p}}
        <input type="submit">   
    </form>
{% endblock %}