{% extends "General/layout.html" %} 

{% block content %}
<div
	class="container my-5"
	style="background-color: rgb(172, 0, 0); border-radius: 20px"
>
   <h2 class="mb-4 text-center text-light">Make Announcement</h2>
   <div class="text-dark">
   <form action="{% url 'admin_view'%}" method="POST">
      {% csrf_token %}
      <div class="form-floating mb-3 text-dark">
         <input type="text" class="form-control" id="name" placeholder="Title" name="name">
         <label for="name">Title</label>
     </div>
      <div class="form-floating mb-3">
         
         <textarea id="ann" class="form-control" rows="10" name="description" placeholder="Announcement"></textarea>
         <label for="ann">Announcement</label>
      </div>
      <div class="form-floating mb-3">
         <input type="url" class="form-control" id="link" placeholder="link" name="Fblink">
         <label for="link">Facebook link</label>
     </div>
     <div class="text-center text-light">
        <input  type="submit" class="btn btn-primary btn-block mb-4 " value="Add announcement">
     </div>
     
   </form>
</div>
</div>
{% endblock %}