{% extends "General/layout.html" %} 

{% block content %}
<!-- Announcements Section -->
<div
	class="container my-5 text-light"
	style="background-color: rgb(172, 0, 0); border-radius: 20px"
>
	<h1>Announcements</h1>
	{% for announcement in annoucements %}
      {% if forloop.counter0|divisibleby:2 %} 
        <div class="row justify-content-around m-1 h-auto" >
            <div class="col-lg-5 border mt-2 p-4 text-light">
              <h2>{{announcement.name}}
			  </h2>
			  <p>{{announcement.description}}</p>
				<a href="{{announcement.facebookLink}}"></a>
            </div>
      {%else%}
	  <div class="col-lg-5 border mt-2 p-4 text-light">
		<h2>{{announcement.name}}
		</h2>
		<p>{{announcement.description}}</p>
		  <a href="{{announcement.facebookLink}}"></a>
	  </div>
	</div>
      {% endif %}
    {% endfor%}
		
</div>
{% endblock %}
