{% extends "General/layout.html" %} 

{% block content %}
<!-- Announcements Section -->
<div
	class="container my-5 text-light"
	style="background-color: rgb(172, 0, 0); border-radius: 20px"
>
	<h1>Announcements</h1>
	<div class="row justify-content-around" style="height: 800px">
		<div class="col-lg-5 border mt-2">
			<h2>Announcement Name</h2>
			<h3>Details</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto enim
				est quam perferendis beatae maxime excepturi quia quas, ipsa impedit
				debitis ut quos eius cumque aspernatur consequatur nulla, placeat id.
			</p>
			<h3>Facebook Link</h3>
			<a href="">www.facebook.com</a>
		</div>
		<div class="col-lg-5 border mt-2">
			<h2>Announcement Name</h2>
			<h3>Details</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto enim
				est quam perferendis beatae maxime excepturi quia quas, ipsa impedit
				debitis ut quos eius cumque aspernatur consequatur nulla, placeat id.
			</p>
			<h3>Facebook Link</h3>
			<a href="">www.facebook.com</a>
		</div>
	</div>
	<div class="row justify-content-around" style="height: 800px">
		<div class="col-lg-5 border mt-2">
			<h2>Announcement Name</h2>
			<h3>Details</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto enim
				est quam perferendis beatae maxime excepturi quia quas, ipsa impedit
				debitis ut quos eius cumque aspernatur consequatur nulla, placeat id.
			</p>
			<h3>Facebook Link</h3>
			<a href="">www.facebook.com</a>
		</div>
		<div class="col-lg-5 border mt-2">
			<h2>Announcement Name</h2>
			<h3>Details</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto enim
				est quam perferendis beatae maxime excepturi quia quas, ipsa impedit
				debitis ut quos eius cumque aspernatur consequatur nulla, placeat id.
			</p>
			<h3>Facebook Link</h3>
			<a href="">www.facebook.com</a>
		</div>
	</div>
</div>

{% endblock %}
